@charset "UTF-8";

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: serif;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: darkgray;
    min-height: 100vh;
    font-family: var(--font1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px  0px  50px  0px ;
}

header h1{
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 6vw;
}

a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

section{
    font-family: var(--font2);
    font-size: 3vw;
    padding: 10vh  0px  10vh  20px ;
    line-height: 5vw ;
}

section p {
    padding-bottom: 1.5em;
}

section.texto{
    background-color: white;
}

section.imagem{
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p{
    color: white;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.432) ;
    padding: 10px ;
}

section#img01{
    background-image: url(../imagens/background001.jpg);
    background-position: right center;

}
section#img02{
    background-image: url(../imagens/background002.jpg);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
